<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="themollo.app.mollo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.MolloApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- receiver -->
        <receiver android:name=".alarm.AlarmReceiver" />

        <!-- meta data -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <!-- activities -->
        <activity android:name=".splash.SplashActivity">

        </activity>
        <activity android:name=".sample.MainActivity" />
        <activity android:name=".login.sns_login.LoginActivity">

        </activity>
        <activity android:name=".sample.SensorActivity" />
        <activity android:name=".firebase.SignInActivity" />
        <activity android:name=".firebase.SignUpActivity" />
        <activity android:name=".firebase.FindPwdActivity" />
        <activity android:name=".survey.DoSurveyActivity" />
        <activity android:name=".sample.BackgroundSampleActivity" />
        <activity android:name=".sample.NaviSampleActivity" />
        <activity android:name=".lullaby.LullabyActivity"/>
        <activity android:name=".sample.CircularBarActivity" />
        <activity android:name=".tutorial.TutorialActivity" />
        <activity android:name=".alarm.AlarmActivity" />
        <activity android:name=".home.HomeActivity"></activity>
        <activity android:name=".util.SketchBook">

        </activity>
        <activity android:name=".MyAccountActivity"></activity>
        <activity android:name=".analysis.AnalysisActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>